body{
    height: 100vh;
   
    color: rgb(181, 238, 90);
    background-color: rgba(224, 235, 255, 0.496);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 100px;
    margin-bottom: 20px;
    width: 100vh;
    border-radius: 5px;
}


.todo{
  height: 100vh;
  width: 100vh;
  margin: 20px;
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}


.nav{
  margin-right: 10px;
  text-align: end;
  justify-content: end;
  margin: 10px;
}

.todo h3{
  font-family: sans-serif serif monospace;
  font-weight: 800;
  font-style: italic;
  padding: 10px;
  
}

.todo input{
  height: 2%;
  width: 40%;
  margin: 2%;
  padding: 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: rgb(87, 231, 15);
}

.todo ul{
  height: 100%;
  margin: 20px;
  padding: 10px;

}

.list{
   margin: 10px;
   padding: 10px;
   color: blueviolet;
   font-weight: 600;
}

  .btn{
    height: 6%;
    background-color: rebeccapurple;
    margin: 5px;
  }